@model IEnumerable<ReseauEntreprise.Areas.Employee.Models.ViewModels.Project.ListForm>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Name)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Description)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.StartDate)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.EndDate)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Manager)
		</th>
		<th></th>
	</tr>

@foreach (var item in Model) {
	<tr>
		<td>
			@Html.DisplayFor(modelItem => item.Name)
		</td>
		<td style="white-space: pre-wrap;">@Html.DisplayFor(modelItem => item.Description)</td>
		<td>
			@Html.DisplayFor(modelItem => item.StartDate)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.EndDate)
		</td>
		<td>
			@{ Html.RenderPartial("_Employee", item.Manager); }
		</td>
        <td>
            @Html.ActionLink("Details", "Details", new { projectId = item.ProjectId })
            @if (item.IsProjectManager)
            {
                <br />
                @Html.ActionLink("Create new team", "Create", "Team", new { projectId = item.ProjectId }, null)
                <br />
                @Html.ActionLink("Create master task", "AddProjectTask", "Task", new { projectId = item.ProjectId }, null)
            }
        </td>
	</tr>
}

</table>
