@model ReseauEntreprise.Areas.Employee.Models.ViewModels.Department.DetailsForm

@{
	ViewBag.Title = "Department Details";
}

<h2>Department Details</h2>

<div>
    <h4>Department Details</h4>
    <hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Title)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Title)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Created)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Created)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Description)
		</dt>

		<dd style="white-space: pre-wrap;">@Html.DisplayFor(model => model.Description)</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Creator)
		</dt>

		<dd>
			@{Html.RenderPartial("_Employee", Model.Creator);}
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Active)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Active)
		</dd>

		@if (Model.HeadOfDepartment != null)
		{
			<dt>
				@Html.DisplayNameFor(model => model.HeadOfDepartment)
			</dt>

			<dd>
				@{Html.RenderPartial("_Employee", Model.HeadOfDepartment);}
			</dd>
		}
		<dt>
			@Html.DisplayNameFor(model => model.Employees)
		</dt>

		<dd>
			@{Html.RenderPartial("_EmployeeList", Model.Employees);}
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Documents)
		</dt>

		<dd>
			@{Html.RenderPartial("_DocumentList", Model.Documents);}
			<p>Create new document</p>
			@{Html.RenderAction("_Upload", "Document", new { DepartmentId = Model.Id});}
		</dd>

	</dl>
</div>
<p>
    @Html.ActionLink("Back to department list", "Index")
</p>
