@model IEnumerable<ReseauEntreprise.Areas.Employee.Models.ViewModels.Message.MailboxForm>

@foreach (var message in Model)
{
    <tr>
		<td>
			@if (message.Project != null)
			{
				<span>Project </span>
				@Html.ActionLink(message.Project.Title,
		 "Details", "Project", null, null, $"anchor_{message.Message.Id}",
		 new { projectId = message.Project.Id }, null)
			}
			else if (message.Task != null)
			{
				<span>Task </span>
				@Html.ActionLink(message.Task.Title,
					"Details", "Task", null, null, $"anchor_{message.Message.Id}",
					new { taskId = message.Task.Id }, null)
			}
			else if (message.Team != null)
			{
				<span>Team </span>
				@Html.ActionLink(message.Team.Name,
	 "Details", "Team", null, null, $"anchor_{message.Message.Id}",
	 new { teamId = message.Team.Id }, null)
			}
			else
			{
				<span>Employee </span>
				@Html.ActionLink($"{message.Employee.FirstName} {message.Employee.LastName}({message.Employee.Email})",
		 "Details", "Employee", null, null, $"anchor_{message.Message.Id}",
		 new { id = message.Employee.Employee_Id }, null)
			}
		</td>

		<td>
			@{Html.RenderPartial("_MessageSimple", message.Message);}
			<div style="display: none">
				@{Html.RenderPartial("_SendFormTemplate", message.Form);}
			</div>
		</td>

		<td>
			<span id="@($"isReplied_{message.Message.Id}")">
				@Html.DisplayFor(modelItem => message.IsReplied)
			</span>
		</td>
    </tr>
}