@model ReseauEntreprise.Areas.Employee.Models.ViewModels.Message.DiscussionForm

<style>
	.myMessageBox {
		background-color: transparent;
		margin-left: 15px
	}

	.myMessage {
		background-color: white;
		border-style: solid;
		border-color: lightgray;
		border-width: 1px;
		border-radius: 4px;
	}

	.hidden {
		display: none
	}

	.multiligneText {
		white-space: pre-wrap
	}

	.myform {
		display: block
	}

	.whiteblock {
		background-color: white;
	}
	.longtext {
		width: 100%;
	}
</style>

<div id="discussion">
	@{Html.RenderPartial("_MessagePartial_Messages", Model.Messages);}
</div>
<div class="whiteblock">
	<h4>Compose new message</h4>
	<div id="SendFormTemplate">
		@{Html.RenderPartial("_MessagePartial_SendFormTemplate", new ReseauEntreprise.Areas.Employee.Models.ViewModels.Message.SendForm());}
	</div>
</div>

<div id="temporal" class="hidden"></div>

<script>
	var SendFormTemplate = document.getElementById("SendFormTemplate");
	SendFormTemplate.getElementsByClassName("ToEmployee")[0].value = @(Model.ToEmployee.HasValue ? Model.ToEmployee.ToString() : "null");
	SendFormTemplate.getElementsByClassName("ToProject")[0].value = @(Model.ToProject.HasValue ? Model.ToProject.ToString() : "null");
	SendFormTemplate.getElementsByClassName("ToTask")[0].value = @(Model.ToTask.HasValue ? Model.ToTask.ToString() : "null");
	SendFormTemplate.getElementsByClassName("ToTeam")[0].value = @(Model.ToTeam.HasValue ? Model.ToTeam.ToString() : "null");
	const SendFormHtml = document.getElementById("SendFormTemplate").innerHTML;

	function AddReplyForm(id)
	{
		var Message = document.getElementById('message_' + id);
		Message.innerHTML += SendFormHtml;
		Message.getElementsByClassName("ReplyTo")[0].value = id;
		var ReplyForm = Message.getElementsByTagName("form")[0];
		ReplyForm.id = ('reply_' + id);
		var CancelButton = ReplyForm.getElementsByTagName("button")[0];
		CancelButton.style.display = "inline";
		CancelButton.onclick = function () { removeform(id) };
		document.getElementById('button_' + id).style.display = "none";
	}

	function sendmessage(event) {
		var thisForm = event.target;
		$.ajax({
			type: 'POST',
			url: thisForm.action,
			data: $(thisForm).serialize(),
			success: function (results) {
				if (results == "fail") {
					alert("Message must contain some text!")
				}
				else if (results == "success") {
					refresh();
					var id = thisForm.id.replace('reply_', '');
					removeform(id);
				}
			}
		});
	}

	function removeform(id) {
		document.getElementById('reply_' + id).remove();
		document.getElementById('button_' + id).style.display = 'inline';
	}

	function refresh() {
		var messages = document.getElementsByClassName("myMessage");
		var ids = [];
		for (var i = 0; i < messages.length; i++) {
			ids[i] = messages[i].id.replace('message_', '')
		}
		$.ajax({
			type: 'POST',
			url: "@Url.Action("AddMessages", "Message")",
			data:
				{
					"ids": ids,
					"ToEmployee": @(Model.ToEmployee.HasValue ? Model.ToEmployee.ToString() : "null"),
					"ToProject": @(Model.ToProject.HasValue ? Model.ToProject.ToString() : "null"),
					"ToTask": @(Model.ToTask.HasValue ? Model.ToTask.ToString() : "null"),
					"ToTeam": @(Model.ToTeam.HasValue ? Model.ToTeam.ToString() : "null")
			}
		}).done(function (results) { addNew(results) });
	}

	function addNew(data) {
		var temporal = document.getElementById('temporal');
		var discussion = document.getElementById('discussion');
		temporal.innerHTML += data;
		var messages = temporal.getElementsByClassName("myMessageBox");
		for (var i = messages.length-1; i >= 0; i--) {
			var parent = messages[i].getAttribute("data-parentId");
			var html = messages[i].outerHTML;
			if (parent == "") {
				discussion.innerHTML += html
			}
			else {
				parentEl = document.getElementById('message_' + parent).parentElement;
				parentEl.innerHTML += html
				//alert(messages[i].getElementsByClassName("myMessage")[0].id)
			}
			messages[i].remove();
		}
	}

</script>

