@model ReseauEntreprise.Areas.Employee.Models.ViewModels.Message.ViewForm

<div class="myMessageBox" data-parentId="@(Model.Parent)">
	<div class="blackline"></div>
	<div class="blackline2">
		<div class="hideButton" onclick="hideBranch(@(Model.Parent))" title="hide this branch">—</div>
	</div>
	<div class="myMessage" id="message_@(Model.Id)">
		<div class="anchor" id="anchor_@(Model.Id)"></div>
		@Html.DisplayFor(modelItem => Model.CreationTime)
		@{Html.RenderPartial("_Employee", Model.Author);}
		<h4>@Html.DisplayFor(modelItem => Model.Title)</h4>
		<div class="multiligneText">@Html.DisplayFor(modelItem => Model.Message)</div>
		<button id="button_@(Model.Id)" onclick="AddReplyForm(@Model.Id)" class="btn btn-default">Reply</button>
	</div>
	<div class="showButton" id="show_@(Model.Id)" onclick="showBranch(@(Model.Id))" style="display : none">
		view <span class="counter"></span> hidden messages
	</div>
	@if (Model.Children != null)
	{
		Html.RenderPartial("_Messages", Model.Children);
	}
</div>