@model IEnumerable<ReseauEntreprise.Areas.Employee.Models.ViewModels.Message.ViewForm>

@foreach (var message in Model)
{
	<div class="myMessageBox">
		<div class="myMessage" id="@("message_" + message.Id.ToString())">
			@Html.DisplayFor(modelItem => message.CreationTime)
			@{Html.RenderPartial("EmployeePartial", message.Author);}
			<h4>@Html.DisplayFor(modelItem => message.Title)</h4>
			<div class="multiligneText">@Html.DisplayFor(modelItem => message.Message)</div>
			<button onclick="AddReplyForm(@message.Id)">Reply</button>
		</div>
		@{Html.RenderPartial("_MessagePartial_Messages", message.Children);}
	</div>
}

