@model ReseauEntreprise.Areas.Admin.Models.ViewModels.Employee.DetailsForm

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EmployeeDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegNat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegNat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            <a href=@($"https://www.google.com/maps/search/{Model.Address.Replace(" "," +")}/")>
                @Html.DisplayFor(model => model.Address)
            </a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsAdmin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAdmin)
        </dd>
		
        <dt>
            @Html.DisplayNameFor(model => model.IsActif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActif)
        </dd>

        @{ Html.RenderPartial("StatusHistory", Model.StatusHistory); }
        @{ Html.RenderPartial("ProjectManagerHistory", Model.ProjectManagerHistory); }
        @{ Html.RenderPartial("DepartmentsHistory", Model.DepartmentHistory, new ViewDataDictionary { { "EmpId", Model.Id } }); }
    </dl>
</div>
<p>
	@if (Model.IsActif)
	{
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) <span>|</span>
    }
    @Html.ActionLink("Back to List", "Index")
</p>
