@model IEnumerable<ReseauEntreprise.Areas.Admin.Models.ViewModels.Employee.StatusForm>

@{
    ViewBag.Title = "StatusHistory";
}

<h2>Status History</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StatusName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StatusName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
    </tr>
}

</table>
