@model IEnumerable<ReseauEntreprise.Areas.Employee.Models.ViewModels.EmployeeTeam.EmployeeTeamSelector>

@{
    ViewBag.Title = "Employees in " + Model.FirstOrDefault().Team.Name;
}

<h2>Employees in Team</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" style="width:50%;">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <table class="table">
            <tr>
                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Employee)</th>
                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Departments)</th>
                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().IsInTeam)</th>
            </tr>

            @for (int i = 0; i < Model.Count(); i++)
            {
                <tr>
                    @Html.HiddenFor(modelItem => Model.ToList()[i].Employee.Employee_Id, new { name = "Model[" + i + "].EmployeeId" })
                    @Html.HiddenFor(modelItem => Model.ToList()[i].Team.Id, new { name = "Model[" + i + "].TeamId" })
                    <td>
                        @{ Html.RenderPartial("_Employee", Model.ToList()[i].Employee); }
                    </td>
                    <td>
                        @{ Html.RenderPartial("_DepartmentList", Model.ToList()[i].Departments); }
                    </td>
                    <td>
                        <div class="checkbox">
                            @Html.CheckBoxFor(modelItem => Model.ToList()[i].IsInTeam, new { name = "Model[" + i + "].IsInTeam" })
                        </div>
                    </td>
                </tr>
            }
        </table>

        <div class="form-group">
            <div class="col-md-offset-2">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@Html.ActionLink("Back to team details", "Details", new { teamId = Model.FirstOrDefault().Team.Id }) <br />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}