@model ReseauEntreprise.Areas.Employee.Models.ViewModels.Employee.DetailsForm

@{
	/**/

	ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
	<h4>DetailsForm</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.LastName)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.LastName)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.FirstName)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.FirstName)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Email)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Email)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.RegNat)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.RegNat)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Address)
		</dt>

        <dd>
            <a href=@($"https://www.google.com/maps/search/{Model.Address.Replace(" ","+")}/")>
                @Html.DisplayFor(model => model.Address.Replace(" ", "+"))
            </a>
        </dd>

		<dt>
			@Html.DisplayNameFor(model => model.Phone)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Phone)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.IsAdmin)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.IsAdmin)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.IsActif)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.IsActif)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Teams)
		</dt>

		<dd>
			@{ Html.RenderPartial("_TeamList", Model.Teams); }
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Departments)
		</dt>

		<dd>
			@{ Html.RenderPartial("_DepartmentList", Model.Departments); }
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.TeamLeaderTeams)
		</dt>

		<dd>
			@{ Html.RenderPartial("_TeamList", Model.TeamLeaderTeams); }
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.ProjectManagerProjects)
		</dt>

		<dd>
			@{ Html.RenderPartial("_ProjectList", Model.ProjectManagerProjects); }
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.HeadOfDepartmentDepartments)
		</dt>

		<dd>
			@{ Html.RenderPartial("_DepartmentList", Model.HeadOfDepartmentDepartments); }
		</dd>


	</dl>
</div>
@if (Model.IsMe)
{
	<p>
		@Html.ActionLink("Edit", "Edit", new { controller = "Profile" })
	</p>
}
@if (Model.CanIAddToDepartment)
{
	<p>
		@Html.ActionLink(linkText: "Add Department", actionName: "AddEmployeeToDepartment", controllerName: "Department", routeValues: new { id = Model.Id }, htmlAttributes: null)
	</p>
}
@if (Model.CanIRemoveFromDepartment)
{
	<p>
		@Html.ActionLink(linkText: "Remove Department", actionName: "RemoveEmployeeFromDepartment", controllerName: "Department", routeValues: new { id = Model.Id }, htmlAttributes: null)
	</p>
}